<%= form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.collection_select(:user_id, User.all, :id , :name, { prompt: 'Select a user'}) %>
  </div>

  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>

  <div class="field">
    <%= f.label :event %><br />
    <%= f.collection_select(:event_id, Event.all, :id , :name, { prompt: 'Select a event'}) %>
  </div>
  
  <div class="field">
    <%= f.label :badge %><br />
    <%= f.collection_select(:badge_id, Badge.all, :id , :name, { prompt: 'Select a badge'}) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
