<h1>Listing Points</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th>Evento</th>
    <th>Badge</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @points.each do |point| %>
  <tr>
    <td><%= point.user.name %></td>
    <td><%= point.points %></td>
    <td><%= point.badge.name %></td>
    <td><%= link_to 'Show', point, :class=>'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', point, confirm: 'Are you sure?', method: :delete, :class=>'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
  </tbody>
</table>
