<h1>Listing Points</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th>Evento</th>
    <th>Badge</th>
    <th></th>
  </tr>

<% @points.each do |ponto| %>
  <tr>
    <td><%= ponto.user.name %></td>
    <td><%= ponto.points %></td>
    <td><%= ponto.badge.name %></td>
    <td><%= link_to 'Show', ponto %></td>
    <td><%= link_to 'Destroy', ponto, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>
