<h1>Listing Points</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th>Evento</th>
    <th>Badge</th>
    <th></th>
  </tr>

<% @points.each do |point| %>
  <tr>
    <td><%= point.user.name %></td>
    <td><%= point.points %></td>
    <td><%= point.badge.name %></td>
    <td><%= link_to 'Show', point %></td>
    <td><%= link_to 'Destroy', point, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>
