<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @point.user.name %>
</p>

<p>
  <b>Points:</b>
  <%= @point.points %>
</p>

<p>
  <b>Badge:</b>
  <%= @point.badge.name %>
</p>

<%= link_to 'Back', points_path %>
