<%= form_for(@badge) do |f| %>
  <% if @badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge.errors.count, "error") %> prohibited this badge from being saved:</h2>

      <ul>
      <% @badge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :point_min %>
    <%= f.number_field :point_min %>
  </div>
  <div class="field">
    <%= f.label :unique %>
    <%= f.check_box :unique %>
  </div>
  <div class="field">
    <%= f.label :shared %>
    <%= f.check_box :shared %>
  </div>
  <div class="field">
    <%= f.label :media %>
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :award %>
    <%= f.text_field :award_id %>
  </div>
  <div class="field">
    <%= f.label :event %>
    <%= f.text_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
