<h1>Listing events</h1>
<%= form_tag request.path, :method => 'get' do %>
  <% content_tag :label do %>
    Search :
    <%= text_field_tag :search, params[:search]%>
  <% end %>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th>Editorial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.points %></td>
    <td><%= event.editorial.uri %><%="(#{event.editorial.id})"%></td>
    <td><%= link_to 'Show', event, :class=>'btn btn-mini'%></td>
    <td><%= link_to 'Edit', edit_event_path(event) , :class=>'btn btn-mini'%></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete, :class=>'btn btn-mini btn-danger' %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Event', new_event_path, :class => 'btn btn-mini' %>
