<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Points:</b>
  <%= @event.points %>
</p>

<p>
  <b>Editorial:</b>
  <%= @event.editorial.uri %><%="(#{@event.editorial.id})"%>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
