<h1>Listing editorials</h1>
<%= form_tag request.path, :method => 'get' do %>
  <% content_tag :label do %>
    Search :
    <%= text_field_tag :search, params[:search]%>
  <% end %>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @editorials.each do |editorial| %>
  <tr>
    <td><%= editorial.uri %></td>
    <td><%= link_to 'Show', editorial, :class => 'btn btn-mini'%></td>
    <td><%= link_to 'Edit', edit_editorial_path(editorial) , :class => 'btn btn-mini'%></td>
    <td><%= link_to 'Destroy', editorial, confirm: 'Are you sure?', method: :delete , :class => 'btn btn-mini btn-danger'%></td>
  </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @editorials %>

<%= link_to 'New Editorial', new_editorial_path, :class => 'btn btn-mini' %>
